header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10%;
    z-index: 1000;
    background: transparent;
}

header ul {
    display: flex;
    list-style: none;
    font-family: 'Gotham', sans-serif;
}

header li {
    text-align: end;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
}

header img {
    width: 200px;
}