header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10%;
    z-index: 1000;
    background-color: transparent;
}

header ul {
    display: flex;
    list-style: none;
    font-family: 'Gotham', sans-serif;
}

header li {
    text-align: end;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
}

header img {
    width: 200px;
}

@media (max-width: 480px) {
    header img {
        display: none;
    }

    header ul {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        list-style: none;
        font-family: 'Gotham', sans-serif;
    }

    header li {
        text-align: start;
        text-decoration: none;
        cursor: pointer;
        width: auto;
    }
}