.containerApp {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 56px;
    margin: 0% 10%;
    background: transparent;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.404);
    z-index: 8;
    gap: 21px;
}

.containerApp h2 {
    font-family: 'Gotham Bold', sans-serif;
    color: #252525;
}
.containerApp h3 {
    text-align: center;
    font-family: 'Gotham Light', sans-serif;
    color: #363636;
}

.grid-container {
    display: grid;
    width: 100%;
    margin-top: 32px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
}

.grid-item input {
    width: 100%;
    padding: 12px 24px;
    font-size: large;
    font-family: 'Gotham', sans-serif;
    color: #363636;
    border: 1px solid rgba(0, 0, 0, 0.226)
}

.grid-item input::placeholder {
    color: #afafaf;
}
.grid-item input::selection {
    color: white;
    background-color: #3aa9f6;
}

.grid-item input:focus {
    width: 100%;
    padding: 12px 24px;
    font-size: large;
    font-family: 'Gotham', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.226);
    outline: 0;
}

.grid-item button {
    width: 100%;
    cursor: pointer;
    font-family: 'Gotham', sans-serif;
    padding: 12px 24px;
    border: 0;
    font-size: large;
    background-color: #3aa9f6;
    text-align: start;
    color: rgb(243, 243, 243);
}

.grid-item button:hover {
    background-color: #3196df;
    color: rgb(243, 243, 243);
}

input[type="date"]:focus {
    border: 1px solid rgba(0, 0, 0, 0.226);
    outline: 0;
}

input[type="date"] {
    margin-right: 32px;
    color: #afafaf;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="date"]::-webkit-datetime-edit-day-field:focus,
input[type="date"]::-webkit-datetime-edit-month-field:focus,
input[type="date"]::-webkit-datetime-edit-year-field:focus {
    background-color: #3aa9f6;
    color: white;
    outline: none;
}

@media (max-width: 480px) {
    .containerApp h2 {
        font-family: 'Gotham Bold', sans-serif;
        color: #252525;
        text-align: center;
    }

    .grid-container {
        display: grid;
        width: 100%;
        margin-top: 32px;
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }
}